<body>
    

  <form id="login-form"  (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">

    <div>
            <img src="../../../assets/dist/img/logo2.png" class="logo" >
    </div>

    <h1>Bienvenido</h1>

    <div class="input email">
        <input type="text" value="" placeholder=" " formControlName="email">
        <label>Usuario</label>
    </div>
    <div class="input email">
      <input type="password" value="" placeholder=" " formControlName="password">
      <label>Contraseña</label>
  </div>
  <!-- <div class="checkboxT">
    <input type="checkbox" formControlName="remember">
    <label class="checkbox">Recuerdame</label>
</div> -->
   
    <button type="submit" routerLink="/dashboard/dashboard">
          <span>Ingresar</span>
    </button>
    <!-- <div >
      <label class="etiqueta2">
          <a routerLink="/register">¿Olvidaste tu contraseña?</a> </label>
    </div>

    <div >
      <label class="etiqueta">Si no tienes una cuenta puedes registrarte
          <a routerLink="/register">aquí</a> </label>
    </div> -->

</form>

</body>